.footer {
  background-color: var(--bgc-hero-footer);
  padding: 60px 0;

  .container {
    @include df-center($jc: null, $ai: baseline);
  }
}

.wrap-address {
  width: 231px;
  margin-right: 70px;
}

.wrap-social {
  width: 206px;
  margin-right: 93px;
}

.wrap-subscribe {
  width: 570px;
}
