.benefits__list {
  display: flex;
  gap: 30px;
}

.benefits__item {
  width: calc((100% - 90px) / 4);
}

.benefits__thumb {
  @include df-center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  box-flex-group: var(--bgc-filter-team);
  border-radius: 4px;
  background-color: var(--bgc-filter-team);
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
